.kitap-listesi {
    display: flex;
    flex-direction: column;

    .description {
      padding: 3px;

      &:hover {
            background-color: lightgrey;
            border-radius: 3px;
        }
    }
}
